 <div class="container" >
  <div class="row">
    <div class="col-10">
      <div class="jumbotron">
        <h2> {{title}}</h2>
        
        <form [formGroup]="itemsForm" (ngSubmit)="onSubmit()">
          
          <div class="form-group col-5">
            <label>Product Name</label>
            <input type="text" formControlName="itemName" class="form-control"  [(ngModel)]="model.itemName" [ngClass]="{ 'is-invalid': submitted && f.itemName.errors }"  placeholder="Enter Product Name"/>
            <div *ngIf="submitted && f.itemName.errors" class="invalid-feedback"  >
                <div *ngIf="f.itemName.errors.required">Product Name is required</div>
            </div>
         </div>

         <div class="form-group col-5">
            <label>Product Price</label>
            <input type="number" formControlName="itemPrice" class="form-control" [(ngModel)]="model.itemPrice" [ngClass]="{ 'is-invalid': submitted && f.itemPrice.errors }" placeholder="Enter Product Price" />
            <div *ngIf="submitted && f.itemPrice.errors" class="invalid-feedback">
               <div *ngIf="f.itemPrice.errors.required">Product Price is required</div>
           </div>
         </div>

         <div class="form-group col-5">
             <label>Description</label>
             <input type="text" formControlName="itemDescription" maxlength="100" class="form-control"  [(ngModel)]="model.itemDescription" [ngClass]="{ 'is-invalid': submitted && f.itemDescription.errors }" placeholder="Enter Description"/>
              <div *ngIf="submitted && f.itemDescription.errors" class="invalid-feedback">
                <div *ngIf="f.itemDescription.errors.required">Description is required</div>
             </div>
         </div>

        
        
       <div class="form-group col-5">
          <label>Addtion Date</label>
          <input type="date" formControlName="itemAdditionDate" class="form-control"  [(ngModel)]="model.itemAdditionDate" [ngClass]="{ 'is-invalid': submitted && f.itemAdditionDate.errors }" placeholder="itemAdditionDate"/>
           <div *ngIf="submitted && f.itemAdditionDate.errors" class="invalid-feedback">
             <div *ngIf="f.itemAdditionDate.errors.required">Date is required</div>
          </div>
       </div>


        <div class="form-group itemImage">
      
          <input #file type="file" accept='image/*' (change)="preview(file.files)"  />
          <img [src]="model.imgURL" height="50" *ngIf="model.imgURL">
       </div> 

          <div class="form-group">
            <button class="btn btn-success"  (submit)="onSubmit()" >Submit</button>
          </div>
          
           
        </form> 
         
       
     
          <div class="" width:100> <button class="btn btn-info" style="float:right" (click)="delete()">BULKDELETE</button></div>

          <!-- <div class="form-group">
            Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
          </div> -->
          <table class= "table table-striped table-dark">
            
            <thead thead class="thead-dark">
              <!-- <td><div class="btn btn-secondary" style="float:right" ></div></td> -->
                <th>PRODUCT NAME</th>
                <th>PRODUCT PRICE</th>
                <th>PRODUCT DESCRIPTION</th>
                <th>ADDTION DATE</th>
                <th>PRODUCT IMAGE</th>
                <th>ACTIONS TO PERFORM</th>
            </thead> 

            <tbody> 
               <tr *ngFor="let item of itemsData; let i   = index">
                 <td>{{item.itemName}}</td>
                 <td>{{item.itemPrice}}</td>
                 <td>{{item.itemDescription}}</td>
                 <td>{{item.itemAdditionDate}}</td>
                 <td><img [src]="item.imgURL" height="50" *ngIf="item.imgURL">
                <label>{{item.imgName }}</label></td>
                 <td><input type="checkbox" (click)="toggleSelection($event, i)"
                  [checked]="checkboxes[i]"></td>
                 <td><button class="btn btn-danger" (click)="deleteItem(i)">DELETE</button></td>
                 <td><button class="btn btn-primary" (click)="editItem(i)">EDIT</button></td>
               </tr>
           </tbody>
          </table> 

          
      </div>
      
      
    </div>
    <div>
    
    </div>
  </div>
  

</div>

